.message {
    position: relative;
    display: inline-block;
    word-break: break-all;
    background: #fff;
    text-align: left;
    padding: 6px 12px;
    max-width: 85%;
    min-height: 34px;
    min-width: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.triangle-outer {
    left: -9px;
    border-right: 10px solid #ccc;
    top: 5px;
}

.triangle-inner {
    left: -7px;
    border-right: 10px solid #fff;
    top: 6px;
}

.triangle-right-outer {
    right: -9px;
    border-left: 10px solid #ccc;
    top: 5px;
}

.triangle-right-inner {
    right: -7px;
    border-left: 10px solid #fff;
    top: 6px;
}